<center>
	<head>
	</head>
	<body>
		<header class= "header">
			<h2>Profile Page</h2>
			<p>Welcome back <%= "#{current_user.username}" %>!</p>
		</header>

		<div class= "main">

			<h4><u>Your Details</u></h4>
				<p><b> Username: </b><%= current_user.username %><p>
				<p><b> First Name: </b><%= current_user.first_name %><p>
				<p><b> Last Name: </b><%= current_user.last_name %><p>
				<p><b> Email: </b><%= current_user.email %><p>
				<p><b> Date Created: </b><%= current_user.created_at %><p>

				<form method="get" action="/users/<%= current_user.id%>/edit">
					<input type=submit value="Edit Details">
				</form>

				<form method="post" action="/users/<%= current_user.id %>">
					<input type="hidden" name="_method" value="DELETE">
					<input type=submit value="Delete Your Profile">
				</form>

		</div>

		<div>
			<form method="post" action="/questions">
				<input type=submit value="Back to Q&A Feed">
			</form>
		</div>
	</body>
</center>
