<center>

	<h2>Top Stories For You</h2><br>
	<p>This is the feed page which should list recent and top stories from all users</p>

	<div style="font-size: 20px;">

<!-- 		<a href="/profile"<p><%= "#{session[:username]}"%>'s</a> Answers</p>
		
		<a href="/questions/<%= @question.id %>/answers/new"><p><%= "#{@question.question}"%>User Questions</a>!</p>
		<p><%= @question.caption %>!</p>
		<br> -->

		<form method=get action='/questions/<%= @question.id %>/answers/new'> 
		<input type=submit value = "Answer">
		<form method=get action='/profile'> 
		<input type=submit value = "Back">

		<br><br>
	
		<p>
			<% @all_questions.each do |question| %>
			<p><%=	question.question %></p>
			<p><%=	question.caption %></p>
			<%end %>
		</p>
		
		<p> 
			<% @all_answers.each do |answer| %>
			<p><%=	answer.answer %></p>
			<%end %>
		</p>

	</div>

</center>

