
<center>
	<div>
		<h3>Profile</h3>
		<p>Welcome back <%= "#{session[:username]}" %>!</p>
	</div>
</center>

<div>
	<h4><u>Feeds</u></h4>
	<p><u>Recent Question</u></p>
	<%= @current_user = session[:user_id]%>
	<%= q = Question.find_by user_id: @current_user %>
	<%= p q.question %>

	<br><br>
	<p><u>Recent Answer</u></p>	
	<%= a = Answer.find_by user_id: @current_user %>
	<%= p a.answer %>	

	<br><br>
	<a href="/user_questions"<p><%= "#{session[:username]}"%>'s Questions</p></a>

	<br><br>
	<a href="/user_answers"<p><%= "#{session[:username]}"%>'s Answers</p></a>

</div>

	

<div>

</div>