<p>user_questions.erb</p>
<p>All of <a href="/profile"<p><%= "#{session[:username]}"%>'s</a> Questions</p>

<%= qu = Question.find_by_user_id(session[:user_id]) %>
<%= qu.question %>
<%= @current_user = User.find_by_user_id(session[:user_id]) %>
<%= @current_user.question %>

<h1>TEST</h1>
<%= @current_user.username %>
